<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>

        <add id="Seller_Form::menu" title="Seller" module="Seller_Form" sortOrder="40"  resource="Magento_Backend::content"/>

        <add id="Seller_Menu::menu_item" title="Seller Details" module="Seller_Form" sortOrder="30"  parent="Seller_Form::menu" resource="Seller_Form::menu_item" action="seller/account"/>

    </menu>

</config>


